---
layout: default
title: Blog
---

<!-- Page Content-->
<div class="container py-5" xmlns="http://www.w3.org/1999/html">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {% for post in paginator.posts %}
            <article class="mb-5">
                <h2 class="post-title fw-bold color-hover">
                    <a class="text-reset text-decoration-none" href="{{ site.srcurl }}{{ post.url }}"
                       title="Clique para Ler">
                        {{ post.title }}
                    </a>
                </h2>
                <p class="post-meta text-muted">
                    Publicado em {% assign m = post.date | date: "%-m" %}
                    {{ post.date | date: "%-d" }}
                    {% case m %}
                    {% when '1' %}Janeiro
                    {% when '2' %}Fevereiro
                    {% when '3' %}Março
                    {% when '4' %}Abril
                    {% when '5' %}Maio
                    {% when '6' %}Junho
                    {% when '7' %}Julho
                    {% when '8' %}Agosto
                    {% when '9' %}Setembro
                    {% when '10' %}Outubro
                    {% when '11' %}Novembro
                    {% when '12' %}Dezembro
                    {% endcase %}
                    {{ post.date | date: "%Y" }}
                    ·
                    {% assign wordCount = post.content | number_of_words | divided_by: 50 %}
                    {% if wordCount < 1 %}
                    {{ '1 min para ler' }}
                    {% else %}
                    {{ wordCount }}&nbsp;min para ler
                    {% endif %}
                </p>
                <div class="post-image mb-3">
                    <a class="card-img-top d-block"
                       style="background-image: url('{{ site.srcurl }}{{ site.image_path }}{{ post.image }}')"
                       href="{{ site.srcurl }}{{ post.url }}" title="{{ post.title }}"></a>
                </div>
                <div class="post-content pb-2">
                    {{ post.introduction | strip_html | strip_newlines | truncate: 500 }}
                </div>
                <a class="text-reset text-decoration-none text-white fw-semibold continue-reading" href="{{ site.srcurl }}{{ post.url }}"
                   title="Clique para Ler">
                    Continuar lendo ->
                </a>
            </article>
            {% endfor %}
            <!-- Pagination -->
            <nav aria-label="Page navigation" class="d-flex justify-content-center mt-5 nav-pagination">
                <ul class="pagination">
                    {% if paginator.previous_page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ site.srcurl }}{{ paginator.previous_page_path }}" tabindex="-1"
                           aria-disabled="true"><</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ site.srcurl }}{{ paginator.previous_page_path }}" tabindex="-1"
                           aria-disabled="true">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ site.srcurl }}{{ paginator.previous_page_path }}" tabindex="-1"
                           aria-disabled="true">2</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ site.srcurl }}{{ paginator.previous_page_path }}" tabindex="-1"
                           aria-disabled="true">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ site.srcurl }}{{ paginator.previous_page_path }}" tabindex="-1"
                           aria-disabled="true">2</a>
                    </li>
                    {% endif %}
                    {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                    <li class="page-item active">
                        <a class="page-link"
                           href="{{ site.srcurl }}{{ site.paginate_path | relative_url | replace: ':num', page }}">
                            {{ page }}
                        </a>
                    </li>
                    {% elsif page == 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ site.srcurl }}/blog">1</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link"
                           href="{{ site.srcurl }}{{ site.paginate_path | relative_url | replace: ':num', page }}">
                            {{ page }}
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link"
                           href="{{ site.srcurl }}{{ site.paginate_path | relative_url | replace: ':num', page }}">
                            {{ page }}
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ site.srcurl }}{{ site.paginate_path | relative_url | replace: ':num', page }}">
                            {{ page }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if paginator.next_page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ site.srcurl }}{{ paginator.next_page_path }}">Próxima</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">></a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <!--        <div class="col-md-3 d-none d-md-block">-->
        <!--            {% include aside.html %}-->
        <!--        </div>-->
    </div>
</div>
<script>
    const button = document.querySelector(".pagination");

    const readout = document.querySelector("p");

    button.addEventListener("mousemove", (e) => {
        const {x, y} = button.getBoundingClientRect();
        button.style.setProperty("--x", e.clientX - x);
        button.style.setProperty("--y", e.clientY - y);
    });
</script>
