---
layout: default
title:
---

<!-- Page Content-->
<div class="row justify-content-center py-2 py-md-4">
    <section class="col-md-10 col-lg-8">
        <h2 style="font-size: 0">Artigos</h2>
        {% for post in paginator.posts reversed %}
        <article class="pb-2 mb-5 border-bottom border-secondary border-opacity-25">
            <h2 class="post-title fw-bold color-hover">
                <a class="text-reset text-decoration-none" href="{{ site.srcurl }}{{ post.url }}"
                   title="Clique para Ler">
                    {{ post.title }}
                </a>
            </h2>
            <p class="post-meta text-muted">
                {% assign m = post.date | date: "%-m" %}
                {{ post.date | date: "%-d" }}
                de
                {% case m %}
                {% when '1' %}Janeiro
                {% when '2' %}Fevereiro
                {% when '3' %}Março
                {% when '4' %}Abril
                {% when '5' %}Maio
                {% when '6' %}Junho
                {% when '7' %}Julho
                {% when '8' %}Agosto
                {% when '9' %}Setembro
                {% when '10' %}Outubro
                {% when '11' %}Novembro
                {% when '12' %}Dezembro
                {% endcase %}
                de
                {{ post.date | date: "%Y" }}
                ·
                {% assign wordCount = post.content | number_of_words | divided_by: 50 %}
                {% if wordCount < 1 %}
                {{ '1 minuto de leitura' }}
                {% else %}
                {{ wordCount }} minutos de leitura
                {% endif %}
            </p>
            {% if post.image %}
            <figure class="post-image mb-3">
                <a class="card-img-top d-block rounded-3"
                   style="background-image: url('{{ site.srcurl }}{{ post.image }}')"
                   href="{{ site.srcurl }}{{ post.url }}" title="{{ post.title }}"></a>
            </figure>
            {% endif %}
            <div class="post-content pb-2">
                {{ post.description }}
            </div>
            <a class="text-reset text-decoration-none text-white fw-semibold continue-reading"
               href="{{ site.srcurl }}{{ post.url }}"
               title="Clique para Ler">
                Continuar lendo <i class="bi bi-arrow-right fw-bold"></i>
            </a>
        </article>
        {% endfor %}
        <!-- Pagination -->
        <nav aria-label="Page navigation" class="d-flex justify-content-center mt-5 nav-pagination">
            <h2 style="font-size: 0">Paginação</h2>
            <ul class="pagination justify-content-center">
                {% if paginator.previous_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ site.srcurl }}{{ paginator.previous_page_path }}" tabindex="-1"
                       disabled>Anterior</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" disabled onclick="return false;">
                        Anterior
                    </a>
                </li>
                {% endif %}
                {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li class="page-item active">
                    <a class="page-link" href="#" tabindex="-1" disabled>
                        {{ page }}
                    </a>
                </li>
                {% elsif page == 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{site.srcurl}}/">1</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ site.srcurl }}{{ site.paginate_path | relative_url | replace: ':num', page }}">
                        {{ page }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                {% if paginator.next_page %}
                <li class="page-item">
                    <a class="page-link" href="{{ site.srcurl }}{{ paginator.next_page_path }}">Próxima</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" disabled onclick="return false;">
                        Próxima
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </section>
    <!--        <div class="col-md-3 d-none d-md-block">-->
    <!--            {% include aside.html %}-->
    <!--        </div>-->
</div>
