<header class="flex-shrink-0">
    <div class="py-2">
        <div class="container py-5">
            <div class="navbar-content text-center row">
                <a class="navbar-brand d-block text-center" href="/">
                    <h1 class="fs-1 header-title">
                        Douglas Medeiros
<!--                    O Blog do Douglas-->
<!--                    O blog do Metal-->
<!--                    Douglas Medeiros Blog`s-->
                    </h1>
                </a>
                <h2 class="d-block w-100 header-subtitle">
                    Engenheiro de Software, <span class="color-hover">PHP</span>zeiro 🐘 e Curioso
                </h2>
            </div>
            <div class="row py-2">
                {% include navbar.html %}
            </div>
        </div>
    </div>
</header>
