<header class="flex-shrink-0 py-2 py-md-3 py-lg-5">
    <div class="row align-items-center">
        <div class="col-12 text-center">
            <a class="navbar-brand d-block" href="/">
                <h1 class="fs-1 header-title m-0">
                    Douglas Medeiros
                </h1>
            </a>
            <h2 class="header-subtitle m-0">
                Engenheiro de Software, <span class="color-hover">PHP</span>zeiro 🐘 e Curioso
            </h2>
        </div>
        {% include navbar.html %}
    </div>
</header>
