<div class="d-grid justify-content-end" role="toolbar">
    <div class="btn-group align-baseline" role="group">
        <span class="text-white small fw-semibold align-baseline" style="font-size: 0.83em;padding-top: 2px;">
            Compartilhe&nbsp;&nbsp;—&nbsp;&nbsp;
        </span>
        <a class="text-white"
           target="_blank"
           href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}">
            <i class="bi bi-twitter-x"></i>
        </a>
        <a class="text-white ms-3"
           href="whatsapp://send?text={{ site.url }}{{ page.url }}" data-action="share/whatsapp/share">
            <i class="bi bi-whatsapp"></i>
        </a>
        <a class="text-white ms-3"
           href="https://telegram.me/share/url?url={{ site.url }}{{ page.url }}">
            <i class="bi bi-telegram"></i>
        </a>
        <a class="text-white ms-3"
           target="_blank"
           href="https://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}">
            <i class="bi bi-linkedin"></i>
        </a>
        <a class="text-white ms-3 cursor-pointer"
           onclick="navigator.clipboard.writeText('{{ site.url }}{{ page.url }}');
                            const tooltip = bootstrap.Tooltip.getInstance(this);
                            if (tooltip) {
                                tooltip.show();
                            } else {
                                new bootstrap.Tooltip(this, {
                                    title: 'Link copiado!',
                                    trigger: 'manual',
                                    placement: 'bottom',
                                    animation: true
                                }).show();
                            }
                            setTimeout(() => {
                                const tooltip = bootstrap.Tooltip.getInstance(this);
                                if (tooltip) {
                                    tooltip.hide();
                                }
                            }, 1000);"
           title="Copiar link">
            <i class="bi bi-link-45deg"></i>
        </a>
    </div>
</div>
