---
layout: default
---
<!-- Page Content-->
<article class="row justify-content-center py-2 py-md-4">
    <div class="col-md-10 col-lg-8">
        <h2 class="post-title fw-bold color-hover">
            {{ page.title }}
        </h2>
        <p class="post-meta text-muted">
            {% assign m = page.date | date: "%-m" %}
            {{ page.date | date: "%-d" }}
            de
            {% case m %}
            {% when '1' %}Janeiro
            {% when '2' %}Fevereiro
            {% when '3' %}Março
            {% when '4' %}Abril
            {% when '5' %}Maio
            {% when '6' %}Junho
            {% when '7' %}Julho
            {% when '8' %}Agosto
            {% when '9' %}Setembro
            {% when '10' %}Outubro
            {% when '11' %}Novembro
            {% when '12' %}Dezembro
            {% endcase %}
            de
            {{ page.date | date: "%Y" }}
            ·
            {% assign wordCount = page.content | number_of_words | divided_by: 200 %}
            {% if wordCount < 2 %}
            {{ '1 minuto de leitura' }}
            {% else %}
            {{ wordCount }} minutos de leitura
            {% endif %}
        </p>
    </div>
    <div class="col-md-10 col-lg-8">
        {% if page.image %}
        <div class="post-image mb-4">
            <a class="card-img-top d-block rounded-3"
               style="background-image: url('{{ site.srcurl }}{{ page.image }}')"
               href="{{ site.srcurl }}{{ page.url }}" title="{{ page.title }}"></a>
        </div>
        {% endif %}
        <div class="post-content pb-2">
            {{ page.content}}
        </div>
        <div class="d-grid justify-content-end" role="toolbar">
            <div class="btn-group" role="group">
                <a class="text-white ms-3"
                   target="_blank"
                   href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}">
                    <i class="bi bi-twitter-x"></i>
                </a>
                <!--                <a class="text-white ms-3">-->
                <!--                    <i class="bi bi-instagram"></i>-->
                <!--                </a>-->
                <a class="text-white ms-3"
                   href="whatsapp://send?text={{ site.url }}{{ page.url }}" data-action="share/whatsapp/share">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <a class="text-white ms-3" href="https://telegram.me/share/url?url={{ site.url }}{{ page.url }}">
                    <i class="bi bi-telegram"></i>
                </a>
                <a class="text-white ms-3"
                   target="_blank"
                   href="https://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}">
                    <i class="bi bi-linkedin"></i>
                </a>
                <!--                <a class="text-white ms-3">-->Ï
                <!--                    <i class="bi bi-copy"></i>-->
                <!--                </a>-->
            </div>
        </div>

        <!--            <div class="post-tags pt-2">-->
        <!--                {% for tag in page.tags %}-->
        <!--                <a class="badge badge-primary text-inherit color-hover" href="#"><span>#</span>{{ tag }}</a>-->
        <!--                {% endfor %}-->
        <!--            </div>-->
        <footer class="card bg-dark mt-4 mb-4 p-3 text-light rounded shadow-sm border-0">
            <h5 class="card-title mb-4 text-light">Sobre o Autor</h5>
            <div class="d-flex align-items-center">
                <!-- Foto Redonda -->
                <div class="me-4">
                    <img src="{{ site.srcurl }}{{site.image_path}}author/Douglas Medeiros - Engenheiro de Software.jpg"
                         alt="Douglas Medeiros - Engenheiro de Software" class="rounded-circle"
                         width="100" height="100">
                </div>
                <!-- Informações do Autor -->
                <div>
                    <h4 class="text-light mb-1">Douglas Medeiros</h4>
                    <h6 class="text-muted mb-3">
                        Tech Lead · Skill Lead PHP · Engenheiro de Software Sênior no&nbsp;
                        <a href="https://picpay.com/"
                           class="text-reset text-decoration-none color-hover"
                           target="_blank">
                            @PicPay
                        </a>
                    </h6>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="{{ site.personal_url }}" target="_blank" title="Visitar Perfil"
                               class="text-reset text-decoration-none color-hover">
                                <i class="bi bi-globe-americas"></i>&nbsp;Perfil completo
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <script src="https://utteranc.es/client.js"
                repo="medeirosinacio/blog.douglasmedeiros.dev"
                issue-term="title"
                label="blog-comment"
                theme="photon-dark"
                crossorigin="anonymous"
                async>
        </script>
    </div>
</article>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        // Add style to images based on URL parameters
        const images = document.querySelectorAll('.post-content img');
        images.forEach(function (img) {
            const imgUrl = img.src;
            if (imgUrl.includes('/assets/images/posts/')) {
                const urlParams = new URLSearchParams(new URL(imgUrl).search);
                const classParams = urlParams.get('class');
                if (classParams) {
                    for (const className of classParams.split(' ')) {
                        img.classList.add(className);
                    }
                }
            }
        });
        // Função para alternar entre abrir e fechar a imagem em tela cheia
        images.forEach(function (img) {
            img.addEventListener('click', function () {
                let fullscreenDiv = document.querySelector('.fullscreen-image-container');

                if (fullscreenDiv) {
                    fullscreenDiv.remove();
                    enableScroll();
                } else {
                    // Cria a div que vai conter a imagem em tela cheia
                    fullscreenDiv = document.createElement('div');
                    fullscreenDiv.classList.add('fullscreen-image-container');
                    fullscreenDiv.style.position = 'fixed';
                    fullscreenDiv.style.top = '0';
                    fullscreenDiv.style.left = '0';
                    fullscreenDiv.style.width = '100vw';
                    fullscreenDiv.style.height = '100vh';
                    fullscreenDiv.style.backgroundColor = 'rgba(0, 0, 0, 0.8)';
                    fullscreenDiv.style.display = 'flex';
                    fullscreenDiv.style.justifyContent = 'center';
                    fullscreenDiv.style.alignItems = 'center';
                    fullscreenDiv.style.zIndex = '1000';

                    // Cria a imagem
                    const fullscreenImg = document.createElement('img');
                    fullscreenImg.src = img.src;
                    fullscreenImg.style.maxWidth = '90%';
                    fullscreenImg.style.maxHeight = '80vh';
                    fullscreenImg.style.objectFit = 'contain';
                    fullscreenDiv.appendChild(fullscreenImg);
                    document.body.appendChild(fullscreenDiv);

                    disableScroll();

                    fullscreenDiv.addEventListener('click', function () {
                        fullscreenDiv.remove();
                        enableScroll();
                    });
                }
            });
        });

        // Add copy button to code blocks
        const codeElements = document.querySelectorAll('.highlighter-rouge');
        codeElements.forEach(function (codeElement) {
            const newDiv = document.createElement('span');
            newDiv.className = 'copy';
            newDiv.setAttribute('data-bs-toggle', 'tooltip');
            newDiv.setAttribute('title', 'Código copiado!');
            newDiv.innerHTML = '<i class="bi bi-copy"></i>';
            codeElement.insertAdjacentElement('afterbegin', newDiv);
        });

        // Initialize code block tooltips
        [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]')).map(function (tooltipTriggerEl) {
            const tooltip = new bootstrap.Tooltip(tooltipTriggerEl, {
                trigger: 'click',
                placement: 'top',
                animation: true
            });
            tooltipTriggerEl.addEventListener('shown.bs.tooltip', function () {
                setTimeout(function () {
                    tooltip.hide();
                }, 1000);
            });
            return tooltip;
        });

        // Script to Copy code block to clipboard from click event in icon
        document.querySelectorAll('.copy').forEach(function (codeBlock) {
            codeBlock.addEventListener('click', function () {
                const code = codeBlock.parentNode.lastElementChild;
                const textToCopy = code.textContent || code.innerText;
                navigator.clipboard.writeText(textToCopy).then(function () {
                    console.log('Código copiado com sucesso!');
                    console.log(textToCopy);
                }).catch(function (err) {
                    console.log(err);
                });
            });
        });

        // Customize/add class to blockquote based on type
        document.querySelectorAll('blockquote').forEach(blockquote => {
            const p = blockquote.querySelector('p');
            if (p) {
                const html = p.innerHTML.trim();
                const type = html.match(/^\[!(\w+)\]/);
                if (type) {
                    const typeName = type[1].toLowerCase();
                    p.innerHTML = html.replace(/^\[!\w+\]/, '').trim();
                    blockquote.classList.add("blockquote-alert");
                    blockquote.classList.add("blockquote-" + typeName);
                } else {
                    blockquote.classList.add("blockquote-alert");
                    blockquote.classList.add("blockquote-default");
                }
            }
        });
    });

    // Enable/Disable scroll
    // left: 37, up: 38, right: 39, down: 40,
    // spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
    var keys = {37: 1, 38: 1, 39: 1, 40: 1};

    function preventDefault(e) {
        e.preventDefault();
    }

    function preventDefaultForScrollKeys(e) {
        if (keys[e.keyCode]) {
            preventDefault(e);
            return false;
        }
    }

    // modern Chrome requires { passive: false } when adding event
    var supportsPassive = false;
    try {
        window.addEventListener("test", null, Object.defineProperty({}, 'passive', {
            get: function () {
                supportsPassive = true;
            }
        }));
    } catch (e) {
    }

    var wheelOpt = supportsPassive ? {passive: false} : false;
    var wheelEvent = 'onwheel' in document.createElement('div') ? 'wheel' : 'mousewheel';

    // call this to Disable
    function disableScroll() {
        window.addEventListener('DOMMouseScroll', preventDefault, false); // older FF
        window.addEventListener(wheelEvent, preventDefault, wheelOpt); // modern desktop
        window.addEventListener('touchmove', preventDefault, wheelOpt); // mobile
        window.addEventListener('keydown', preventDefaultForScrollKeys, false);
    }

    // call this to Enable
    function enableScroll() {
        window.removeEventListener('DOMMouseScroll', preventDefault, false);
        window.removeEventListener(wheelEvent, preventDefault, wheelOpt);
        window.removeEventListener('touchmove', preventDefault, wheelOpt);
        window.removeEventListener('keydown', preventDefaultForScrollKeys, false);
    }
</script>
