---
layout: default
---

<!-- Page Content-->
<div class="container py-4" xmlns="http://www.w3.org/1999/html">
    <article class="row justify-content-center">
        <div class="col-md-11">
            <h2 class="post-title fw-bold color-hover">
                {{ page.title }}
            </h2>
            <p class="post-meta text-muted">
                Publicado em: {% assign m = page.date | date: "%-m" %}
                {{ page.date | date: "%-d" }}
                de
                {% case m %}
                {% when '1' %}Janeiro
                {% when '2' %}Fevereiro
                {% when '3' %}Março
                {% when '4' %}Abril
                {% when '5' %}Maio
                {% when '6' %}Junho
                {% when '7' %}Julho
                {% when '8' %}Agosto
                {% when '9' %}Setembro
                {% when '10' %}Outubro
                {% when '11' %}Novembro
                {% when '12' %}Dezembro
                {% endcase %}
                de
                {{ page.date | date: "%Y" }}
                ·
                {% assign wordCount = page.content | number_of_words | divided_by: 50 %}
                {% if wordCount < 1 %}
                {{ '1 minuto de leitura' }}
                {% else %}
                {{ wordCount }} minutos de leitura
                {% endif %}
            </p>
        </div>
        <div class="col-md-8">
            <div class="post-image mb-3">
                <a class="card-img-top d-block"
                   style="background-image: url('{{ site.srcurl }}{{ site.image_path }}{{ page.image }}')"
                   href="{{ site.srcurl }}{{ page.url }}" title="{{ page.title }}"></a>
            </div>
            <div class="post-content pb-2">
                {{ page.content}}
            </div>
            <div class="post-tags pt-2">
                {% for tag in page.tags %}
                <a class="badge badge-primary text-inherit color-hover" href="#"><span>#</span>{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <div class="d-flex align-items-center mb-4">
                <img class="img-fluid rounded-circle"
                     src="{{ site.srcurl }}{{site.image_path}}author/Douglas Medeiros - Engenheiro de Software.jpg"
                     alt="Avatar" width="40" height="40">
                <div class="ms-3">
                    <div class="fw-bold">{{ page.author }}</div>
                    <div class="text-muted">{{ page.author_title }}</div>
                </div>
            </div>
        </div>
    </article>
</div>
<script>
    const button = document.querySelector(".pagination");

    const readout = document.querySelector("p");

    button.addEventListener("mousemove", (e) => {
        const {x, y} = button.getBoundingClientRect();
        button.style.setProperty("--x", e.clientX - x);
        button.style.setProperty("--y", e.clientY - y);
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.language-php').forEach(function (codeBlock) {
            codeBlock.addEventListener('click', function () {
                const textToCopy = codeBlock.textContent || codeBlock.innerText;
                navigator.clipboard.writeText(textToCopy).then(function () {
                    alert('Código copiado com sucesso!');
                }).catch(function (err) {
                    alert('Falha ao copiar o código.');
                });
            });
        });
    });
</script>
