---
layout: html_minifier
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}" data-theme="dark">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow"/>
    <meta charset="utf-8">
    {%if paginator and paginator.page != 1 %} <title> {{ page.title }} - Página {{ paginator.page }} | {{ site.title
    }} </title>{% endif %}
    {% seo %}
    <link rel="stylesheet" href="{{ site.srcurl }}{{ site.css_path }}main.css">
    <link rel="icon" type="image/x-icon" href="{{ site.srcurl }}/favicon.ico">
    <!--[if IE]>
    <link rel="shortcut icon" href="{{ site.srcurl }}/favicon.ico"><![endif]-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body class="d-flex flex-column mode-dark" cz-shortcut-listen="true" data-theme="dark">
{% include header.html %}
<main class="flex-shrink-0">
    <!--        <a href="#" class="btn btn-primary switch">Switch Light/Dark</a>-->
    {{ content }}
</main>
<footer class="text-center my-2">
    <p>&copy; {% include current_year.html %} Douglas Medeiros. Todos os direitos reservados.
    </p>
</footer>
<script src="{{ site.srcurl }}{{ site.js_path }}bootstrap/bootstrap.bundle.min.js"></script>
<script src="{{ site.srcurl }}{{ site.js_path }}bundle.js"></script>
</body>
</html>
